/* #VARIABLES */

/* import variables.css file */
@import url(./variable.css);

/* #RESET */

/* import reset.css file */
@import url(./reset.css);

/* #REPEAT */

/* reused style */
header,
nav {
  background: var(--rich-black-fogra-29);
}

.navbar,
.banner,
.movie-banner,
.small-banner,
.movies,
.category,
.live,
.artist-barge,
.movie-det,
.video-js,
.movie-seasons {
  padding: 0 var(--px);
}
.my-video {
  position: relative;
  /* margin-left: -30px; */
  display: block;
  width: 100%;
  top: 6.5rem;
  border-radius: 10px;
  /* z-index: 99; */
}
.video-js {
  position: relative;
  width: 100%;
  margin-top: var(--px);
  margin: 0;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.section-heading {
  font-size: var(--section-heading);
  font-weight: var(--fw-5);
  margin-bottom: 60px;
}
.artist-barge h2.section-heading {
  font-size: var(--section-heading);
  font-weight: var(--fw-5);
  margin-bottom: 40px;
}

/* #MAIN */

/* main container style */
.container {
  max-width: 1440px;
  margin: auto;
}

/* #NAVBAR */
/* navbar style */
.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* small screen menu button style */
.navbar-menu-btn {
  display: none;
}
/* navbar brand style */
.navbar-brand {
  margin-right: 1px;
}
.navbar-brand h2 {
  font-size: var(--section-heading);
  max-width: 100%;
  left: 5%;
  margin-right: 20px;
  border-radius: 5px;
}
.navbar-brand h2 span,
.footer-logo span,
.link-heading span {
  color: var(--light-azure);
}
/* navbar navigation style */
nav {
  margin-right: 200px;
}
.navbar-nav {
  display: flex;
}
.navbar-nav li:not(:last-child) {
  margin-right: 60px;
}
.navbar-link {
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
}
.navbar-link:hover {
  color: var(--light-azure);
}

/* live indicator style */
.indicator {
  position: relative;
}

.indicator::after {
  content: "";
  background: var(--live-indicator);
  position: absolute;
  top: calc(50% - 1px);
  right: -15px;
  width: 4px;
  height: 4px;
  box-shadow: 0 0 0 2px var(--live-indicator-shadow);
  border-radius: 5px;
}
/* navbar form & button style */
.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar-form {
  position: relative;
  margin-right: 50px;
  align-items: center;
  padding-top: 5px;
  margin-top: 5px;
}
.navbar-form-search:hover .myUl {
  display: block;
}
.navbar-form-search {
  background: var(--oxford-blue);
  width: 100%;
  padding: 12px 20px;
  border-radius: 15px;
  color: var(--off-white);
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
}
.navbar-form-btn {
  background: var(--oxford-blue);
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
}
.navbar-form-btn ion-icon,
.navbar-search-btn ion-icon {
  font-size: 20px;
  color: var(--light-azure);
  --ionicon-stroke-width: 50px;
}
.navbar-form-btn:hover ion-icon,
.navbar-form-search::placeholder {
  color: var(--off-white);
}

/* navbar-form close button & navbar search button for small device */
.navbar-form-close,
.navbar-search-btn {
  display: none;
}
.navbar-signin {
  display: flex;
  align-items: center;
  font-size: var(--fs-sm);
  margin-right: 2px;
}
.navbar-signin ion-icon {
  font-size: 22px;
  color: var(--light-azure);
  margin-left: 5px;
  --ionicon-stroke-width: 30px;
}
.navbar-signin:hover span {
  color: var(--light-azure);
}

/* banner card style */
.banner {
  margin-bottom: 60px;
}
/* Add your CSS styles for the banner-slider and banner-slide elements here */
.banner-slider {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.banner-slide {
    flex: 1;
    min-width: 100%;
    transition: opacity 1s ease-in-out;
}

/* Add any other styles you need */
.banner-card {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}
.banner-img {
  object-position: top;
}
.banner-card:hover .banner-img {
  transform: scale(1.1);
}
.banner-card .card-content {
  position: absolute;
  right: 88px;
  bottom: 60px;
  left: 80px;
}

.banner-card .card-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.banner-card .card-info div {
  margin: 0% 10px;
  flex-direction: row;
  align-self: center;
}
.banner-card .card-info ion-icon {
  font-size: 20px;
  color: var(--azure);
  margin-right: 5px;
}
.banner-card .card-info span {
  font-weight: var(--fw-6);
}
.banner-card .card-info .quality {
  background: var(--azure);
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: var(--fw-7);
}
.banner-card .card-title {
  font-size: 3em;
  color: var(--white);
  text-shadow: 2px 0 2px #0007;
}
/* #MOVIES SECTION */
.movies {
  margin-bottom: 60px;
  top: 45rem;
}
/* Filter bar style */
.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--oxford-blue);
  padding: 20px 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.filter-bar select {
  color: var(--white);
  font-size: var(--fs-sm);
  margin-right: 15px;
  cursor: pointer;
}
.filter-bar option {
  background: var(--oxford-blue);
}
.filter-buttons {
    display: flex;
    flex-direction: row;
  position: relative;
  background: var(--rich-black-fogra-29);
  padding: 10px;
  border-radius: 15px;
}
.filter-button {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

/* Add styles for the active class */
.filter-button.active {
    color: var(--light-azure);
    background: var(--oxford-blue);
    /* position: absolute; */
    top: 5px;
    left: var(--left);
    bottom: 5px;
    width: var(--width);
    border-radius: 10px;
}
#popular:checked ~ .checked-radio-bg {
  --width: 73px;
  --left: 90px;
}
#newest:checked ~ .checked-radio-bg {
  --width: 81px;
  --left: 163px;
}
/* movies grid */
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}
.movie-card {
  /* variable for scaling overlay element on card hover */
  --scale: 0.8;
  cursor: pointer;
  width: fit-content;
}
.movie-card .card-head {
  position: relative;
  height: 250px;
  max-width: 200px;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.card-head img {
  max-width: 200px;
}
.movie-card:hover .card-img {
  transform: scale(1.1);
}

.movie-card .card-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  backdrop-filter: blur(5px);
}
.movie-card:hover .card-overlay {
  opacity: 1;
}
.movie-card .bookmark,
.movie-card .rating {
  position: absolute;
  top: 15px;
  padding: 6px;
  border-radius: 10px;
  color: var(--light-azure);
  transform: scale(var(--scale));
}
.movie-card .bookmark {
  background: var(--oxford-blue);
  left: 15px;
}
.movie-card .bookmark:hover {
  color: var(--yellow);
}
.movie-card .rating {
  display: flex;
  align-items: center;
  right: 15px;
  background: var(--oxford-blue-50);
}
.movie-card .rating span {
  color: var(--white);
  font-size: 13px;
  font-weight: var(--fw-5);
  margin-left: 5px;
}
.movie-card ion-icon {
  font-size: 16px;
  display: block;
  --ionicon-stroke-width: 50px;
}
.movie-card .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
}
.movie-card .play ion-icon {
  font-size: 60px;
  --ionicon-stroke-width: 20px;
}
.movie-card:hover :is(.bookmark, .rating, .play) {
  --scale: 1;
}
.movie-card .card-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-5);
  margin-bottom: 5px;
}
.movie-card:hover .card-title {
  color: var(--light-azure);
}
.movie-card .genre {
  margin-right: 8px;
}

/* LOAD MORE BUTTON */
.load-more {
  background: var(--oxford-blue);
  align-items: center;
  justify-content: center;
  max-width: 12rem;
  display: block;
  padding: 20px 50px;
  margin: auto;
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
  border-radius: 15px;
  color: var(--white);
}
.load-more:hover {
  background: var(--light-azure);
  color: #111;
  box-shadow: 1px 0.9px #2b2a2a;
}
/* #CATEGORY SECTION */
.category {
  margin-bottom: 60px;
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.category-card {
  position: relative;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.category-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, transparent 20%, #000a);
}
.category-card:hover .card-img {
  transform: scale(1.1);
}
.category-card .name,
.category-card .total {
  position: absolute;
  bottom: 20px;
  color: var(--white);
  z-index: 20;
}
.category-card .name {
  left: 20px;
  font-size: 20px;
}
.category-card .total {
  right: 20px;
  font-size: 18px;
  background: var(--oxford-blue-50);
  padding: 5px 8px;
  border-radius: 8px;
}
.category-card:hover .name {
  color: var(--light-azure);
}
/* #LIVE SECTION */
.live {
  margin-bottom: 60px;
}
.live-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.live-card {
  cursor: pointer;
}
.live-card .card-head {
  position: relative;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 15px;
  overflow: hidden;
}
.live-card .card-head::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, transparent 20%, #000a);
}
.live-card:hover .card-img {
  transform: scale(1.1);
}
.live-card .card-img {
  max-width: 100%;
}
.live-card .live-badge,
.live-card .total-viewers {
  position: absolute;
  left: 30px;
  border-radius: 10px;
  padding: 5px 10px;
  z-index: 10;
}
.live-card .live-badge {
  top: 30px;
  font-size: var(--fs-x-sm);
  font-weight: var(--fw-5);
  background: var(--live-indicator);
}
.live-card .total-viewers {
  bottom: 30px;
  font-size: 15px;
  font-weight: var(--fw-6);
  background: var(--oxford-blue-50);
}
.live-card .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  z-index: 10;
}
.live-card .play ion-icon {
  font-size: 60px;
  --ionicon-stroke-width: 20px;
}
.live-card:hover .play {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.live-card .card-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.live-card .avatar {
  width: 40px;
  border-radius: 10px;
  margin-right: 15px;
}
.live-card .card-title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-5);
}
.live-card:hover .card-title {
  color: var(--light-azure);
}

/* #FOOTER SECTION */
footer {
  background: var(--rich-black-fogra-30);
  padding: 80px var(--px) 40px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--oxford-blue-50);
  padding-bottom: 80px;
}
.footer-brand {
  max-width: 250px;
  margin-right: 130px;
}
.footer-logo {
  width: 100px;
  margin-bottom: 30px;
}
.slogan {
  font-size: var(--fs-sm);
  line-height: 20px;
  margin-bottom: 20px;
}
.social-link a {
  display: inline-block;
}
.social-link ion-icon {
  font-size: 25px;
  margin-right: 20px;
}
.footer-links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  align-items: flex-end;
}
.link-heading {
  margin-bottom: 20px;
}
.link-item {
  font-size: var(--fs-sm);
}
ul .link-item:not(:last-child) {
  margin-bottom: 18px;
}
.link-item:hover a {
  color: var(--light-azure);
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.footer-copyright p,
.wrapper a {
  font-size: var(--fs-sm);
}
.wrapper a:hover {
  color: var(--light-azure);
}
.wrapper {
  display: flex;
}
.wrapper a:not(:last-child) {
  margin-right: 30px;
}

/* movie details */
.artist-barge {
  display: flex;
  flex-direction: column;
}
.artist {
  display: flex;
  margin: 2px;
  /* max-height: 120px; */
  margin-top: 3px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
}
.artist::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.artist-card {
  flex-direction: column;
  margin-right: 10px;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  min-width: 100px;
  /* height: 100px; */
}
.artist-card img.artist-img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: relative;
}
.artist-card .artist-info {
  text-align: left;
  font-size: 19px;
  margin-top: 2px;
}
.hr-line {
  margin-bottom: 6px;
  height: 4px;
  background-color: var(--light-azure);
  border-radius: 2px;
  border: solid 2px var(--light-azure);
}
.movie-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
p.name,
p.genre,
p.year,
p.description {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 800;
  margin-bottom: 20px;
}
span.detail {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: small;
  max-width: fit-content;
}
.quality {
  background: var(--azure);
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: var(--fw-7);
  width: auto;
}
.detail ion-icon {
  font-size: 20px;
  color: var(--azure);
  margin-left: 8px;
}
.uni-play ion-icon {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: var(--azure);
  background-color: var(--oxford-blue-50);
  border-radius: 50px;
  text-align: center;
  z-index: 999;
}
.uni-play ion-icon.play-btn {
  margin-top: 22px;
}
.social-link ion-icon:hover {
  color: var(--light-azure);
}

/* video.js */
.vjs-custom-theme .vjs-control-bar {
  background-color: transparent !important;
}
.vjs-custom-theme .vjs-big-play-button {
  opacity: 0 !important;
}
.vjs-custom-theme .vjs-volume-control {
  align-items: center !important;
}
.vjs-custom-theme .vjs-play-progress:before {
  top: -4px !important;
}
.vjs-custom-theme .vjs-fullscreen-control .vjs-icon-placeholder:before {
  line-height: 30px;
}
.vjs-custom-theme button:hover {
  color: #fff;
}
.vjs-custom-theme .vjs-progress-control .vjs-progress-holder {
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.25);
  height: 1px;
}
.vjs-custom-theme .vjs-progress-control:hover .vjs-play-progress:before {
  top: -7px !important;
}
.vjs-custom-theme .vjs-control-bar {
  height: 54px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  -o-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
}
.vjs-custom-theme .vjs-volume-panel {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  display: flex;
  align-items: center;
}
.vjs-custom-theme .vjs-fullscreen-control {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 5;
  order: 5;
}
.vjs-custom-theme .vjs-picture-in-picture-control,
.vjs-custom-theme .vjs-remaining-time {
  display: none;
}
.vjs-custom-theme .vjs-play-control {
  width: 5em !important;
}
.vjs-custom-theme .vjs-play-control .vjs-icon-placeholder::before {
  font-size: 13px;
  letter-spacing: 0.16px;
  content: "Play" !important;
  font-family: sans-serif;
  line-height: 30px;
}
.vjs-custom-theme .vjs-play-control.vjs-playing .vjs-icon-placeholder::before {
  content: "Pause" !important;
  font-family: sans-serif;
}
.plyr {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  --plyr-color-main: var(--light-azure);
}

/* movie seasons */
.movie-seasons{
  display: block;
  position: relative;
  gap: 20px;
}

.movie-seasons .seasons{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-seasons .seasons h1{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 5px;
  top: 15px;
}

.movie-seasons .seasons:hover h1{
  text-align: left;
}

.movie-seasons .seasons .episodes{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.movie-seasons .seasons:hover .episodes{
  display: flex;
}

.movie-seasons .seasons .episodes .ep{
  display: block;
  position: relative;
  background: var(--oxford-blue);
  padding: 10px;
  border-radius: 10px;
}

.movie-seasons .seasons .episodes .ep:hover{
  background: var(--azure);
  color: var(--oxford-blue);
}